/* General styling */

* {
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* Booklist styling */

.image{
    background-image: url(../images/woman-5351572_1280.png);
    background-size: cover;
    background-position: center;
    width:100vw;
    height:60vh;
}




/* authentication styling */

.authentication {
    position:absolute;
    left:34%;
    top:15vh;
    width:30vw;
    box-shadow: 1px 3px 5px 3px hsl(0, 8%, 82%);

}

.auth-title {
    border-bottom: 1px solid hsl(0, 5%, 76%);
    color:black;
    text-align: center;
    font-family:'Brush Script MT';
    font-weight: bold;
    font-size: 1.5em;
    height: 9vh;
    line-height: 9vh;
}


.auth-header {
    display:flex;
}

.auth-content {
    position: relative;
    height: 50vh;
    width:30vw;
}

.login-form, .auth-form {
    position: absolute;
    left:35px;
    top:40px;
    transition:100ms opacity ease-in-out;
    transform: translateX(10px);

}

.auth-form{
    display:none;
}


.register, .login {

    width:20vw;
    height: 7vh;
    text-align: center;
    line-height: 7vh;
    font-family:sans-serif;
    border-bottom: 1px solid hsl(0, 5%, 76%);
    font-weight: bold;

}

.login {

    border-right: 1px solid hsl(0, 5%, 76%);

}


.register:hover, .login:hover {

    background: rgba(248, 245, 245, 0.808);
    cursor: pointer;
}


input {
    width: 25vw !important;
    left:7%;
    height:6vh;
    outline: none;
    color: hsl(0, 1%, 17%);
    border-radius: 10px;
    border: 1px solid hsl(0, 1%, 21%);
}

form input:last-child{
    margin-top: 15px;
}

.outer-auth, .outer-login {
    text-align: center;
}

.outer-auth > a , .outer-login > a {
    font-size: .8rem;
}


button{
    position: relative;
    font-size: .8rem !important;
    font-weight: bold !important;
    width: 25vw;
    bottom:0;
    background: blue;
    margin-top: 10px;

}

/* top nabar */

.nav-wrapper {
    position:fixed;
    top: 0;
    z-index: 1;
    width:100vw;
}

.nav-wrapper div:first-child {
    font-size: 1em;
    color:hsl(120, 53%, 41%);
    background: white;
    height: 6vh;
}

.nav-wrapper div:last-child {
    font-size: 1em;
    background: hsla(120, 92%, 19%, 0.8);
    height: 4vh;
}


ul {

    display:flex;
    justify-content: flex-end;
    color: hsl(0, 0%, 100%);
}

li {
    list-style: none;
    padding:0 20px 0;
}


.dropdown-info {
    position:absolute;
    border-radius: .30rem;
    background:white;
    box-shadow: 0 0px 1px 1px rgba(0,0,0,.2);
    color: hsl(0, 3%, 7%);
    width:285px;
    opacity: 0;
    height:5.4vh;
    transform:translateY(-10px);
    transition:150ms ease-in-out;
    font-size: .6rem;
    z-index:1;
    display:flex;
    align-items: center;
}

.dropdown-info.active {
    opacity:1;
    transform: translateY(0);
}


.genre img{

    width:inherit;
    height:250px;
    object-fit: contain;

}

.genre > div {
    width:250px;
    text-align: center;
    border-left: 1px solid hsl(30, 61%, 63%);
}

.genre h3 {
    color: hsl(0, 1%, 26%);
}

.index-wrapper {

    text-align: center;

}

.index-wrapper h2{

    color:hsl(29, 75%, 16%);
    margin: 10px 0;


}

.genre > div > div {
    margin-top: 20px;
}

.genre > div > div div:nth-child(2){
    font-weight: bold;
    color: hsl(0, 1%, 21%);
}

.genre > div > div div:nth-child(3){
    font-weight: 500;
    color: hsl(0, 3%, 6%);
}

.genre {
    display:flex;
    border-top: 1px solid hsl(30, 57%, 50%)
}