/* General styling */

* {
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* Booklist styling */

.image{
    background-image: url(../images/undraw_Reading_time_re_phf7.png);
    background-size:cover;
    background-position:center;
    width:50vw;
    height:60vh;
    margin-top: 50px;
}




/* authentication styling */

.authentication {
    position:absolute;
    left:34%;
    top:15vh;
    width:30vw;
    box-shadow: 1px 3px 5px 3px hsl(0, 8%, 82%);

}

.auth-title {
    border-bottom: 1px solid #4a43ca;
    color:#4a43ca;
    text-align: center;
    font-family:'Brush Script MT';
    font-weight: bold;
    font-size: 1.5em;
    height: 9vh;
    line-height: 9vh;
}


.auth-header {
    display:flex;
}

.auth-content {
    position: relative;
    height: 50vh;
    width:30vw;
}

.login-form, .auth-form {
    position: absolute;
    left:35px;
    top:40px;
    transition:100ms opacity ease-in-out;
    transform: translateX(10px);

}

.auth-form{
    display:none;
}


.register, .login {

    width:20vw;
    height: 7vh;
    text-align: center;
    line-height: 7vh;
    font-family:sans-serif;
    border-bottom: 1px solid #4a43ca;
    font-weight: bold;

}

.login {

    border-right: 1px solid #4a43ca;

}


.register:hover, .login:hover {

    background: rgba(248, 245, 245, 0.808);
    cursor: pointer;
}


input {
    width: 25vw !important;
    left:7%;
    height:6vh;
    outline: none;
    color: hsl(0, 1%, 17%);
    border-radius: 10px;

}

form input:last-child{
    margin-top: 15px;
}

.outer-auth, .outer-login {
    text-align: center;
}

.outer-auth > a , .outer-login > a {
    font-size: .8rem;
}


.auth-content button{
    position: relative;
    font-size: .8rem !important;
    font-weight: bold !important;
    width: 25vw;
    bottom:0;
    background:#1d1963;
    margin-top: 10px;
    border: 1px solid #1d1963;

}

/* top nabar */

.nav-wrapper > div:first-child {
    font-size: 1.5em;
    color:#4a43ca;
    background: white;
    border-bottom:1px solid #4a43ca;
    height:7vh;

}

.nav-wrapper{
    position: relative;
}

.topic {
    position:absolute;
    left:20px;
}

.right-link{
    font-weight: bold;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.right-link div {
    margin-right:40px;
}

.nav-wrapper > div:last-child {
    font-size: 1em;
    background: hsl(243, 54%, 38%);
    font-weight: bold;
    display:flex;
    justify-content:flex-end;
    color:white;
}

.nav-wrapper > div:last-child a {

    margin-right: 25px;
    text-decoration: none;
    color:white;
}

.welcome{
    font-size: .8em;
    font-weight: 100;
}


.nav-wrapper{
    position:fixed;
    top:0;
    width:100vw;
}

.dropdown-info img{
    width:60px;
    height:100px;
    object-fit: cover;
    margin-left: 10px;
}

.readlist div:last-child {
    width:100px;
}

.readlist {
    position:relative;
}

.readlist button {
    position: absolute;
    width:90px;
    height:20px;
    top:30px;
    right:90px;
    background: #353091;
    color: white;
    font-weight: bold;
    font-size: .6em;
    border-radius: 10px;
    border: 1px solid #353091
}


.dropdown-info {
    position:absolute;
    border-radius: .25em;
    top:30px;
    background:hsl(0, 0%, 100%);
    box-shadow: 0 2px 5px 0px rgba(0,0,0,.2);
    color: hsl(0, 4%, 26%);
    opacity:0;
    transform:translateY(-10px);
    transition:150ms ease-in-out;
    font-size: 1rem;
    font-weight: 500 !important;
    z-index:1;
    padding:5px;
}

.library  {

    right:80px;

}

.welcome a {
    font-size:.8em;
    position:absolute;
    top:22px;
}

.archive {
    right:15px;

}


.dropdown > .link:focus + .dropdown-info{
    opacity:1;
    transform: translateY(0);
}

.readlist{
    display:flex;
}

.genre img{

    width:inherit;
    height:250px;
    object-fit: contain;

}

.genre > div {
    width:250px;
    text-align: center;
    border-left: 1px solid hsl(243, 100%, 69%);

}

.genre h3 {
    color: hsl(0, 1%, 26%);
}

.index-wrapper {

    text-align: center;

}

.index-wrapper > div:last-child {

    text-align: center;
    height: 6vh;
    line-height: 5vh;
    color:white;
    background: #1d1963;
    font-weight: bold;
    margin-top: 30px;

}

.index-wrapper h2{

    color:hsl(243, 50%, 42%);
    margin: 10px 0;

}

.genre > div > div {
    margin-top: 20px;
}

.genre > div > div div:nth-child(2){
    font-weight: bold;
    color: hsl(0, 1%, 21%);
}

.genre > div > div div:nth-child(3){
    font-weight: 500;
    color: hsl(0, 3%, 6%);
}

.genre {
    display:flex;

}

.books > div div{
    display:inline-block;
}

.books {
    margin:120px 0 0 30px;

}


.books > div:nth-child(even){

    margin-top: 20px;
}


.books > div:nth-child(odd){

    text-align: center;
    color:hsl(0, 1%, 27%);
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 70px;
}

.books img{
    width:300px;
    height:400px;
    border-radius: 10px;
}


#book-wrapper {
    margin:100px 0 0 80px;
    display: flex;
}

#book-wrapper img {
    width:400px;
    height:500px;
    object-fit: contain;
}

#book-wrapper div:nth-child(2){
    width:400px;
}

.dropdown{

    position:relative;
}
