{% extends 'index.html' %}
{% load static%}

{% block content %}
{% include 'navbar.html' %}

<div id="book-wrapper">

	<div>
		<img src="{{book.bookUrl}}" alt="">
	</div>

	<div>
		<h1>{{book.title}}</h1>
		<h2>By {{book.author}}</h2>
		<p>{{book.description}}</p>
		<span>{{book.pub_date}}</span>
		<span>{{book.category}}</span>

		<button type="submit" data-action data-bookId={{book.id}} class="readlist"> ADD TO LIBRARY</button>{% csrf_token%}
	</div>

</div>

{% endblock %}