{% load static %}

{% block content %}
{% include 'navbar.html' %}

    <div>

		<h3>All books</h3>

        <div class="books">
            <div>
                {% for comic in comicBooks|dictsort:"pub_date" %}
                <div><img src="{{comic.bookUrl}}" alt=""></div>
                {% endfor %}
            </div>
            <div>
                {% for action in actionBooks|dictsort:"pub_date" %}
                <div><img src="{{action.bookUrl}}" alt=""></div>
                {% endfor %}
            </div>
            <div>
                {% for thriller in thrillerBooks|dictsort:"pub_date" %}
                <div><img src="{{thriller.bookUrl}}" alt=""></div>
                {% endfor %}
            </div>
            <div>
                {% for contemporary in contemporaryBooks|dictsort:"pub_date" %}
                <div><img src="{{contemporary.bookUrl}}" alt=""></div>
                {% endfor %}
            </div>
            <div>
                {% for fantasy in fantasyBooks|dictsort:"pub_date" %}
                <div><img src="{{fantasy.bookUrl}}" alt=""></div>
                {% endfor %}
            </div>
        </div>


    </div>

	{% endblock %}