{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}">

    <script type='text/javascript'>

        const user = request.user

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

    </script>

</head>
<body>

    {% block content %}
    {% include 'navbar.html' %}

    <div>
        <div class="image">

        </div>

        <div class="books">
            <div>
                {% for comic in comicBooks|slice:":3" %}
                <div>{{ comic.title }}</div>
                {% endfor %}
            </div>
            <div>
                {% for action in actionBooks|slice:":3" %}
                <div>{{ action.title }}</div>
                {% endfor %}
            </div>
            <div>
                {% for thriller in thrillerBooks|slice:":3" %}
                <div>{{ thriller.title }}</div>
                {% endfor %}
            </div>
            <div>
                {% for contemporary in contemporaryBooks|slice:":3" %}

                <div>{{ contemporary.title }}</div>
                {% endfor %}
            </div>
            <div>
                {% for fantasy in fantasyBooks|slice:":3" %}
                <div>{{ fantasy.title }}</div>
                {% endfor %}
            </div>
        </div>


    </div>

    {% endblock %}

    <script type='text/javascript' src='{% static "js/main.js" %}'></script>

</body>
</html>