<nav class='nav-wrapper'>

		<div>
			<div>
				BOOKLOVER
			</div>

			<div>
				WELCOME {{user|upper}}
			</div>

		</div>

	<div class="dropdown data-dropdown">

				<a href="#" data-dropdown-button class="link">
					LIBRARY
				</a>

				<div data-dropdown="" class="dropdown-info" >
					{% for book in library %}
					<div class="readlist">
						<div><a href="{% url 'book' book_id=book.book.id%}"><img src="{{book.book.bookUrl}}" alt=""></a></div>
						<div>{{book.book.title}}</div>
						<button>ARCHIVE</button>
					</div>
					{% endfor %}
				</div>

				<a href="#" data-dropdown-button class="link">
					ARCHIVE
				</a>
				<div data-drop="" class="dropdown-info" >
					No books in your archive
				</div>



	</div>

</nav>